<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8"></meta>

<!-- Bootstrapの設定 -->
<link th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>

<!-- CSSの読込 -->
<link th:href="@{/css/home.css}" rel="stylesheet"></link>

<title>TodoList</title>
</head>
<body class="text-center">
	<div class="container">
		<h1 class="col text-center">TodoList</h1>
		<!-- todo追加画面へのリンク作成 -->
		<a th:href="@{'/'}" class="text-center"><font size="5">TODO追加</font></a>
		<h2 class="text-center">未完了リスト</h2>
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<th class="info col-sm-2 text-center">id</th>
				<th class="info col-sm-2 text-center">タイトル</th>
				<th class="info col-sm-2 text-center">期日</th>
				<th class="info col-sm-2 text-center"></th>
			</tr>
			<tr th:each="todoDetails:${falseTodoDetailsList}">
				<td th:text="${todoDetails.id}"></td>
				<td class="text-decoration" th:text="${todoDetails.title}"></td>
				<td th:text="${todoDetails.timeLimit}"></td>
				<td><a th:href="@{'/'+${todoDetails.id}}">詳細</a></td>
			</tr>
		</table>
		<h2 class="text-center">完了リスト</h2>
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<th class="info col-sm-2 text-center">id</th>
				<th class="info col-sm-2 text-center">タイトル</th>
				<th class="info col-sm-2 text-center">期日</th>
				<th class="info col-sm-2 text-center"></th>
			</tr>
			<tr th:each="todoDetails:${trueTodoDetailsList}">
				<td th:text="${todoDetails.id}"></td>
				<td th:text="${todoDetails.title}"
					style="text-decoration: line-through;"></td>
				<td th:text="${todoDetails.timeLimit}"></td>
				<td><a th:href="@{'/'+${todoDetails.id}}">詳細</a></td>
			</tr>
		</table>
		<a class="btn btn-primary">完了済みを削除</a>
	</div>
</body>
</html>